[General]

Verbosity = 4
Pipefs-Directory = /run/rpc_pipefs
# set your own domain here, if it differs from FQDN minus hostname
# Domain = localdomain
Domain = albandrieu.com

[Mapping]

Nobody-User = jenkins
Nobody-Group = docker

#[Translation]
Method = nsswitch

